@use "variables" as v;
@use "mixsins" as m;
@use "sass:color";

.info-card {
  width: 178px;
  height: 193px;
  border-radius: 20px;
  background-color: v.$color_blue;
  padding: 18px 10px 0;
  @include m.d-flex(start, center, nowrap, column, 0, 8px);

  &__icon {
    fill: v.$color-black;
  }

  &__title {
    @include m.font(18px, 500, v.$color-black);
    line-height: 100%;
  }

  &__desc {
    @include m.font(16px, 300, v.$color-black);
    line-height: 112%;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    background-color: color.adjust(v.$color-white, $alpha: -0.75);

    .info-card__icon {
      fill: v.$color-white;
    }

    .info-card__title,
    .info-card__desc {
      color: v.$color-white;
    }
  }

  @media (max-width: v.$medua_xs) {
    width: 140px;
    height: 152px;
    padding: 15px 5px 0;

    &__title {
      @include m.font(14px, 500, v.$color-black);
    }

    &__desc {
      @include m.font(11px, 300, v.$color-black);
      line-height: 120%;
    }
  }
}

.img-card {
  position: relative;
  width: 322px;
  height: 295px;
  border-radius: 10px;
  background-color: v.$color_blue;
  @include m.d-flex(space-between, center, nowrap, column, 0, 0);
  overflow: hidden;
  flex-shrink: 0;

  &__title {
    @include m.font(23px, 400, v.$color-white);
    @include m.d-flex(center, center, nowrap, column, 0, 0);
    flex-grow: 1;
  }

  &__preview {
    width: 100%;
    height: 215px;
  }

  &__btn {
    position: absolute;
    z-index: 1;
    bottom: -20px;
    left: -30px;
    width: 120px;
    height: 90px;
    border-radius: 20px;
    border: none;
    border-color: v.$color-white;
    rotate: z 7deg;
    transition: rotate 0.2s;

    &-icon {
      width: 36px;
      height: 23px;
      fill: v.$color-black;
      rotate: z -7deg;
      translate: 12px -3px;
    }

    &:hover {
      cursor: pointer;
      scale: 1.3;

      .img-card__btn-icon {
        rotate: z -7deg;
        translate: 18px -8px;
      }
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 8px 20px 12px rgba(0, 0, 0, 0.2),
      inset 0 -5px 70px 25px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: v.$medua_xs) {
    width: 300px;
  }
}
