* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #678ff2;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
button, figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav__title-link:hover, .nav__links .list__item-link:hover, .nav .covid__link:hover {
  cursor: pointer;
  color: #000;
}

.hero__notify-btn:hover {
  cursor: pointer;
  color: #fff;
}

.nav .globe__link-icon:hover {
  cursor: pointer;
  fill: #000;
}

.info-card {
  width: 178px;
  height: 193px;
  border-radius: 20px;
  background-color: #5d75b1;
  padding: 25px 10px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 10px;
}

.header {
  width: 100%;
  height: 51px;
  background-color: #5d75b1;
  border-bottom: 1px solid #fff;
}

.nav {
  height: 51px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
}
.nav__title {
  height: 100%;
  width: 254px;
  padding: 0 38px 0 52px;
  border-right: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
}
.nav__title-link {
  font-weight: 500;
  font-size: 25px;
  color: #fff;
}
.nav__title-link span {
  font-weight: 700;
}
.nav__links {
  flex-grow: 1;
}
.nav__links .list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  -moz-column-gap: min(94px, 3vw);
       column-gap: min(94px, 3vw);
  row-gap: 0;
  padding-left: min(108px, 3vw);
}
.nav__links .list__item-link {
  font-size: 22px;
  color: #fff;
}
@media (max-width: 992px) {
  .nav__links .list {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    -moz-column-gap: min(94px, 3vw);
         column-gap: min(94px, 3vw);
    row-gap: 0;
  }
}
.nav .covid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
  padding: 0 30px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.nav .covid__link {
  font-weight: 700;
  color: #fff;
}
.nav .globe {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
}
.nav .globe__link-icon {
  fill: #fff;
  width: 27px;
  height: 28px;
}

.hero {
  position: relative;
  margin: 0 auto;
  max-width: 1346px;
  height: 871px;
  padding: 154px 0 65px;
  background: url("../assets/img/cloud.webp") center/contain no-repeat;
}
.hero__content {
  position: relative;
  width: 930px;
  height: 361px;
  margin: 0 auto 167px;
}
.hero__content .hero__title {
  font-size: 120px;
  font-weight: 700;
  font-style: normal;
  color: #000;
  line-height: 100%;
}
.hero__content .hero__action-btn {
  position: absolute;
  bottom: 21px;
  right: 0px;
  border: none;
  border-radius: 45px;
  width: 379px;
  height: 80px;
  background: #000;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
}
.hero__content .hero__action-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.65);
}
.hero__notify {
  position: relative;
  width: 683px;
  height: 68px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #5d75b1;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  -moz-column-gap: 29px;
       column-gap: 29px;
  row-gap: 0;
  padding-right: 10px;
}
.hero__notify-img {
  position: absolute;
  top: -73px;
  left: -45px;
  width: 126px;
  height: 198px;
}
.hero__notify-content {
  width: 452px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  line-height: 100%;
  text-transform: uppercase;
  border-right: 1px solid #fff;
}
.hero__notify-btn {
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  line-height: 56%;
  border: none;
  background: none;
  text-transform: uppercase;
}
.hero__scroll {
  position: absolute;
  bottom: 190px;
  left: 0;
}
.hero__scroll-content {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  writing-mode: vertical-rl;
}
.hero__scroll-content::after {
  position: absolute;
  top: 95px;
  left: 8px;
  display: block;
  content: "";
  width: 1px;
  height: 75px;
  background-color: #fff;
}

@media (max-width: 992px) {
  .hero {
    padding: 134px 0 46px;
    background: url("../assets/img/cloud.webp") 0 30%/contain no-repeat;
  }
  .hero__content {
    width: min(100%, 700px);
    height: 500px;
  }
  .hero__content .hero__title {
    font-size: 90px;
    font-weight: 700;
    font-style: normal;
    color: #000;
  }
  .hero__content .hero__action-btn {
    right: 240px;
    bottom: -50px;
  }
  .hero__scroll {
    bottom: 120px;
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 110px 15px 0;
    background: url("../assets/img/cloud.webp") 0 21%/contain no-repeat;
  }
  .hero__content {
    width: min(100%, 560px);
    height: 400px;
    margin: 0 auto 67px;
  }
  .hero__content .hero__title {
    font-size: 75px;
    font-weight: 700;
    font-style: normal;
    color: #000;
    line-height: 89%;
  }
  .hero__content .hero__action-btn {
    width: 259px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    bottom: 60px;
  }
  .hero__notify {
    width: 100%;
    max-width: 450px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 0;
  }
  .hero__notify-content {
    padding: 15px 10px 15px 90px;
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 140%;
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .hero__notify-img {
    left: -25px;
  }
  .hero__notify-btn {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 47%;
    padding: 18px 0 23px;
  }
  .hero__scroll {
    bottom: 260px;
  }
}
@media (max-width: 576px) {
  .hero {
    height: 734px;
    background: url("../assets/img/cloud.webp") 0 25%/contain no-repeat;
  }
  .hero__content {
    max-width: 325px;
    height: 330px;
  }
  .hero__content .hero__title {
    font-size: 45px;
    font-weight: 700;
    font-style: normal;
    color: #000;
  }
  .hero__content .hero__action-btn {
    height: 52px;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    bottom: 50px;
    right: 65px;
  }
  .hero__notify {
    width: 100%;
    max-width: 316px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 0;
  }
  .hero__notify-content {
    padding: 15px 10px 15px 90px;
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 140%;
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .hero__notify-img {
    left: -25px;
  }
  .hero__notify-btn {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 47%;
    padding: 18px 0 23px;
  }
}/*# sourceMappingURL=index.css.map */